#!/bin/bash

letsencrypt_dir="/etc/letsencrypt/live/{{ domain }}"
destination_dir="{{ workdir }}/pmm-server/nginx"

expiration_date=$(openssl x509 -enddate -noout -in "$letsencrypt_dir/fullchain.pem" | awk -F'=' '{print $2}')

expiration_timestamp=$(date -d "$expiration_date" +%s)
current_timestamp=$(date +%s)
seven_days_in_seconds=$((7*24*60*60))

time_until_expiry=$((expiration_timestamp - current_timestamp))

if [ "$time_until_expiry" -lt "$seven_days_in_seconds" ]; then
    certbot renew --quiet

    if [ $? -eq 0 ]; then
        mv "$destination_dir/certificate.crt" "$destination_dir/certificate.crt.old"
        mv "$destination_dir/certificate.key" "$destination_dir/certificate.key.old"
        cp "$letsencrypt_dir/fullchain.pem" "$destination_dir/certificate.crt"
        cp "$letsencrypt_dir/privkey.pem" "$destination_dir/certificate.key"
    fi
fi
